{erl_opts, [debug_info]}.

{deps, [
    {cowboy, "2.12.0", {git, "https://github.com/ninenines/cowboy.git", {branch, "master"}}},
    {cowlib, "2.11.0", {git, "https://github.com/ninenines/cowlib.git", {branch, "master"}}},
    {ranch, "2.1.0", {git, "https://github.com/ninenines/ranch.git", {branch, "master"}}}
]}.

{profiles, [
    {prod, [{relx, [
        {release, {message, "0.1.0", []}, []},
        {dev_mode, false},
        {include_erts, true},
        {included_applications, []}
    ]}]}
]}.
